body {
  background-color: lavenderblush;
  color: DarkMagenta;
}

.main { 
  padding: 0px 10px;
  margin-left: 0;
  margin-right: 0;
}

@media only screen and (min-width: 768px) {
  .main {
    margin-left: 100px;
    margin-right: 100px;
  }
}